---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps.ha.example.ai
  resources:
  - highavailabilityapps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.ha.example.ai
  resources:
  - highavailabilityapps/finalizers
  verbs:
  - update
- apiGroups:
  - apps.ha.example.ai
  resources:
  - highavailabilityapps/status
  verbs:
  - get
  - patch
  - update
